
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Variáveis gerais do projeto */
:root {
    --fonte-padrao: "Roboto", sans-serif;
    --cor-1: #131515;
    --cor-2: #FFFAFB;
    --cor-3: #339989;
    --cor-4: #7DE2D1;
    --cor-5: #2B2C28;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--cor-2);
}

body {
    height: 100dvh;

    font-family: var(--fonte-padrao);

    background-color: var(--cor-5);
}

header {
    background-color: var(--cor-1);
    width: 100dvw;
    height: 12dvh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;

    z-index: 2;
    box-shadow: 0px 3px 12px 2px rgba(0,0,0,0.40);
}

#logo-container {
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 5px;
    overflow: hidden;
}

#logo-container > h1 {
    color: var(--cor-2);
    
    font-weight: 800;
    font-size: 1.2em;
}

#logo-container > h1:hover {
    text-decoration: underline;
    cursor: pointer;
}

#logo-img {
    height: 90%;
}

#options {
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: 0 10px;
}

#option {
    background-color: var(--cor-3);
    color: var(--cor-2);
    height: 60%;

    font-weight: 600;
    font-size: 1em;

    border-radius: 12px;
    padding: 5px;
}

#option > option {
    background-color: var(--cor-3);
    color: var(--cor-2);
}

/* Seção referente ao conteúdo do Site */

#resumo-projeto {
    background-color: var(--cor-2);

    border-radius: 12px;
    padding: 20px;

    height: 70%;

    margin-bottom: 10px;
}

#resumo-projeto > h1 {
    text-align: center;
    font-weight: 700;
    font-size: 1.5em;
    text-decoration: underline;

    color: var(--cor-3);

    margin-bottom: 20px;
}

#resumo-projeto > p {
    text-align: justify;
    font-size: 0.9em;
}

#conteudo-container {
    background-color: var(--cor-5);

    display: flex;
    flex-direction: column;
    align-items: center;

    z-index: 1;
    padding: 20px;
}

.expl-tela-container {
    background-color: lightblue;

    width: 100%;
    height: 60dvh;

    display: flex;
    flex-direction: column;
    margin: 10px 0;

    border-radius: 12px;
    overflow: hidden;
}

.tela-container {
    height: 60%;

    padding: 5px;

    background-color: var(--cor-2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.analise-tela {
    height: 40%;

    color: var(--cor-2);
    background-color: var(--cor-3);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 15px;

    overflow: auto;
    position: relative;
}

.analise-tela h2 {
    background-color: var(--cor-3);

    padding: 15px 0;
    font-size: 1.2em;
    font-weight: 800;

    position: sticky;
    top: 0;
    z-index: 10;
}

.analise-tela > p {
    font-weight: 600;
    text-align: justify;

    font-size: 0.8em;

    padding-bottom: 10px;
}

.tela-img {
    height: 100%;

    box-shadow: 0px 0px 40px 15px rgba(0,0,0,0.30);
}