
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Variáveis gerais do projeto */
:root {
    --fonte-padrao: "Roboto", sans-serif;
    --cor-1: #131515;
    --cor-2: #FFFAFB;
    --cor-3: #339989;
    --cor-4: #7DE2D1;
    --cor-5: #2B2C28;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--cor-2);
}

body {
    height: 100dvh;

    font-family: var(--fonte-padrao);
}

header {
    background-color: var(--cor-1);
    width: 100dvw;
    height: 12dvh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    box-shadow: 2px 2px 20px 20px rgb(0, 0, 0);

    padding: 0 60px;
}

#logo-container {
    background-color: var(--cor-5);
    width: 15%;

    display: flex;
    align-items: center;
    gap: 40px;

    padding: 5px;
    overflow: hidden;
}

#logo-container > h1 {
    color: var(--cor-2);
    
    font-weight: 800;
    font-size: 1.3em;
}

#logo-container > h1:hover {
    text-decoration: underline;
    cursor: pointer;
}

#logo-img {
    height: 100%;
}

#options {
    background-color: var(--cor-5);
    width: 60%;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.option {
    color: var(--cor-2);

    font-weight: 500;

    background-color: var(--cor-3);
    padding: 15px;
    border-radius: 12px;
}

.option:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Seção referente ao conteúdo do Site */

#conteudo-container {
    background-color: var(--cor-5);

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px;
}

.expl-tela-container {
    background-color: lightblue;

    width: 75%;
    height: 500px;

    display: flex;
    flex-direction: row;
    margin: 10px 0;

    border-radius: 12px;
    overflow: hidden;
}

.tela-container {
    width: 50%;

    background-color: var(--cor-2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.analise-tela {
    width: 50%;

    background-color: var(--cor-3);

    padding: 25px;

    color: var(--cor-2);
}

.analise-tela > h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 800;
}

.analise-tela > p {
    font-weight: 600;
    text-align: justify;
}

.tela-img {
    height: 400px;

    box-shadow: 0px 0px 40px 15px rgba(0,0,0,0.30);
}